<html>
{% load staticfiles %}
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <style>
    #alertcolor{
        color: red;
        opacity:1.2;
        font-size: 15px;
    }
    </style>
</head>

<body>

{% include "./header.html" %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6">

            {% block candidateform %}
             <div class="form-title-row text-center">
                <h1 id="headstyle">Candidate form</h1>
            </div>
            <div>
                <form class="well form-horizontal boxcolor form-basic" action=" " method="post" id="myform">
                    {% csrf_token %}
                    <fieldset>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Name</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input  name="name" placeholder="Name" type="text" style="width:200%">
                                </div>
                            </div>
                        </div>
                        {% for error in form.errors.name %}
                        <p class="error-message">
                            <strong>{{ error|escape }}</strong>
                        </p>
                        {% endfor %}

                        <div class="form-group">
                            <label class="col-md-4 control-label">E-Mail</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input name="email" placeholder="E-Mail Address" type="text" style="width:200%">
                                </div>
                            </div>
                        </div>
                        {% for error in form.errors.email %}
                        <p class="error-message">
                            <strong>{{ error|escape }}</strong>
                        </p>
                        {% endfor %}


                        <div class="form-group">
                            <label class="col-md-4 control-label">Phone</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                    <input name="phone_number" placeholder="9999999999" type="text" style="width:200%">
                                </div>
                            </div>
                        </div>
                        {% for error in form.errors.phone_number %}
                        <p class="error-message">
                            <strong>{{ error|escape }}</strong>
                        </p>
                        {% endfor %}

                        <div class="form-group">
                            <label class="col-md-4 control-label">College</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                                    <input name="college" placeholder="college" type="text" style="width:200%">
                                </div>
                            </div>
                        </div>
                        {% for error in form.errors.college %}
                        <p class="error-message">
                            <strong>{{ error|escape }}</strong>
                        </p>
                        {% endfor %}

                        <div class="form-group">
                            <label class="col-md-4 control-label">Department</label>
                            <div class="col-md-4 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                        {{ form.department }}
                                </div>
                            </div>
                        </div>
                        {% for error in form.errors.department %}
                        <p class="error-message">
                            <strong>{{ error|escape }}</strong>
                        </p>
                        {% endfor %}

                        <div class="form-group">
                            <label class="col-md-4 control-label">experience</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <input class="" name="experience" placeholder="experience" style="width:200%">
                                </div>
                            </div>
                        </div>
                        {% for error in form.errors.experience %}
                        <p class="error-message">
                            <strong>{{ error|escape }}</strong>
                        </p>
                        {% endfor %}

                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-warning" >Submit <span class="glyphicon glyphicon-send"></span></button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            {% endblock candidateform %}
        </div>


            {% block revisit %}
        <div class="col-sm-1 col-md-1 pastintrview"><b>--OR--</b></div>
        <div class="col-sm-5 col-md-5 pastintrview">
            <p class="text-primary">Attended Sayone interviews in the past? <a href="#" id="mailtg">fill here</a></p>
            <form method="post" action="{% url 'homepage:revisit'%}">
                {% csrf_token  %}
                <div class="form-group">
                    <label class="col-md-2 control-label">E-Mail</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input name="email_field" placeholder="E-Mail" class="form-control text-center"  type="email">
                        </div>
                    </div>
                </div>
                    <button type="submit" value="Submit" class="btn btn-primary" >Submit</button>
            </form>
            <div class="alert alert-dismissable col-sm-8 col-md-8" id="msg">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages|slice:":-1" %}
                    <a href="#" class="close pull-left" id="alertcolor" data-dismiss="alert" aria-label="close" style="">{{ message }}</a>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            {% endblock revisit %}
        </div>
        <br>
    </div>
    {% block member %} {% endblock member %}
</div>
{%block footer%}
{% include "./footer.html" %}
{%endblock footer %}
</body>
</html>