<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/charge.css' %}">
</head>

<body>
<div>
    {% include "./header.html" %}
</div>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
    Stripe.setPublishableKey('pk_test_S5QEjDTTQ7njMXGtU4YPcjRF');
    var stripeResponseHandler = function(status, response) {
        var $form = $('#checkout-form');

        if (response.error) {
            window.alert(response.error.message);
            $form.find('.payment-errors').text(response.error.message);
            $form.find('.payment-errors').addClass('alert');
            $form.find('.payment-errors').addClass('alert-error');
            $form.find('button').prop('disabled', false);
        } else {
            var token = response.id;
            $form.append($('<input type="hidden" name="stripe_token" />').val(token));
            $form.get(0).submit();
        }
    };
    jQuery(function($) {
        $('#checkout-form').submit(function(e) {
            var $form = $(this);
            // Disable the submit button to prevent repeated clicks
            $form.find('button').prop('disabled', true);
            Stripe.createToken($form, stripeResponseHandler);
            return false;
        });
    });
</script>

<div class="container-fluid">
    <div class="creditCardForm">
        <div class="heading">
            <h1>Payment</h1>
        </div>
        <div class="payment">
            <form method="post" action="" id="checkout-form">
                {% csrf_token %}
                <div class="form-group owner">
                    <label for="email">Email</label>
                    <input name="email" type="email" placeholder="name@example.com" id="email" class="form-control" data-stripe="email" />
                </div>
                {% for error in form.errors.email %}
                <p class="error-message">
                    <strong>{{ error|escape }}</strong>
                </p>
                {% endfor %}

                <div class="form-group CVV">
                    <label for="cvv">CVV</label>
                    <input name="cvc" data-stripe="cvc" placeholder="234" type="text" class="form-control" id="cvv">
                </div>
                {% for error in form.errors.cvc %}
                <p class="error-message">
                    <strong>{{ error|escape }}</strong>
                </p>
                {% endfor %}

                <div class="form-group" id="card-number-field">
                    <label for="cardNumber">Card Number</label>
                    <input name="number" type="text" class="form-control" id="cardNumber" data-stripe="number">
                </div>
                {% for error in form.errors.number %}
                <p class="error-message">
                    <strong>{{ error|escape }}</strong>
                </p>
                {% endfor %}

                <div class="form-group" id="expiration-date">
                    <label for="">Expiration (MM/YYYY)</label>
                    <div class="row">
                        <div class="col-xs-6">
                            <input name="exp_month" data-stripe="exp_month" placeholder="MM" type="text" size="2" data-stripe="exp_month" class="form-control" />
                        </div>
                        <div class="col-xs-6">
                            <input name="exp_year" data-stripe="exp_year" type="text" placeholder="YYYY" size="4" data-stripe="exp_year" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="form-group" id="pay-now">
                    <button type="submit" class="btn btn-default" id="confirm-purchase">Confirm</button>
                </div>
            {{form.errors}}
            </form>
        </div>
    </div>


</div>
<div>{% include "./footer.html" %}</div>
</body>

</html>
